<center>
<img src="../../img/ods_stickers.jpg" />
    
## [mlcourse.ai](https://mlcourse.ai) â€“ Open Machine Learning Course 

Author: [Yury Kashnitsky](https://yorko.github.io). This material is subject to the terms and conditions of the [Creative Commons CC BY-NC-SA 4.0](https://creativecommons.org/licenses/by-nc-sa/4.0/) license. Free use is permitted for any non-commercial purpose.

# <center> Topic 1. Exploratory data analysis with Pandas
## <center>Practice. Analyzing "Titanic" passengers

**Fill in the missing code ("You code here") and choose answers in a [web-form](https://docs.google.com/forms/d/16EfhpDGPrREry0gfDQdRPjoiQX9IumaL2mPR0rcj19k/edit).**

In [3]:
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt
# Graphics in SVG format are more sharp and legible
%config InlineBackend.figure_format = 'svg'
pd.set_option("display.precision", 2)

**Read data into a Pandas DataFrame**

In [21]:
data = pd.read_csv('../../data/titanic_train.csv',
                  index_col='PassengerId')

**First 5 rows**

In [11]:
data.head(5)

,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,
892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.83,NaN,Q
893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.00,NaN,S
894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.69,NaN,Q
895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.66,NaN,S
896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.29,NaN,S

In [41]:
data.describe()

       Survived  Pclass     Age   SibSp   Parch    Fare
count    891.00  891.00  714.00  891.00  891.00  891.00
mean       0.38    2.31   29.70    0.52    0.38   32.20
std        0.49    0.84   14.53    1.10    0.81   49.69
min        0.00    1.00    0.42    0.00    0.00    0.00
25%        0.00    2.00   20.12    0.00    0.00    7.91
50%        0.00    3.00   28.00    0.00    0.00   14.45
75%        1.00    3.00   38.00    1.00    0.00   31.00
max        1.00    3.00   80.00    8.00    6.00  512.33

**Let's select those passengers who embarked in Cherbourg (Embarked=C) and paid > 200 pounds for their ticker (fare > 200).**

Make sure you understand how actually this construction works.

In [5]:
data[(data['Embarked'] == 'C') & (data.Fare > 200)].head()

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
119,0,1,"Baxter, Mr. Quigg Edmond",male,24.0,0,1,PC 17558,247.52,B58 B60,C
259,1,1,"Ward, Miss. Anna",female,35.0,0,0,PC 17755,512.33,NaN,C
300,1,1,"Baxter, Mrs. James (Helene DeLaudeniere Chaput)",female,50.0,0,1,PC 17558,247.52,B58 B60,C
312,1,1,"Ryerson, Miss. Emily Borie",female,18.0,2,2,PC 17608,262.38,B57 B59 B63 B66,C
378,0,1,"Widener, Mr. Harry Elkins",male,27.0,0,2,113503,211.50,C82,C

**We can sort these people by Fare in descending order.**

In [6]:
data[(data['Embarked'] == 'C') & 
     (data['Fare'] > 200)].sort_values(by='Fare',
                               ascending=False).head()

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
259,1,1,"Ward, Miss. Anna",female,35.0,0,0,PC 17755,512.33,NaN,C
680,1,1,"Cardeza, Mr. Thomas Drake Martinez",male,36.0,0,1,PC 17755,512.33,B51 B53 B55,C
738,1,1,"Lesurer, Mr. Gustave J",male,35.0,0,0,PC 17755,512.33,B101,C
312,1,1,"Ryerson, Miss. Emily Borie",female,18.0,2,2,PC 17608,262.38,B57 B59 B63 B66,C
743,1,1,"Ryerson, Miss. Susan Parker ""Suzette""",female,21.0,2,2,PC 17608,262.38,B57 B59 B63 B66,C

**Let's create a new feature.**

In [7]:
def age_category(age):
    '''
    < 30 -> 1
    >= 30, <55 -> 2
    >= 55 -> 3
    '''
    if age < 30:
        return 1
    elif age < 55:
        return 2
    elif age >= 55:
        return 3

In [8]:
age_categories = [age_category(age) for age in data.Age]
data['Age_category'] = age_categories

**Another way is to do it with `apply`.**

In [9]:
data['Age_category'] = data['Age'].apply(age_category)

**1. How many men/women were there onboard?**
- 412 men and 479 women
- 314 men and 577 women
- 479 men and 412 women
- 577 men and 314 women

In [22]:
data['Sex'].unique()
data['Sex'].value_counts()

male      577
female    314
Name: Sex, dtype: int64

**2. Print the distribution of the `Pclass` feature. Then the same, but for men and women separately. How many men from second class were there onboard?**
- 104
- 108
- 112
- 125

In [49]:
# Ð² Ð¾Ð±Ñ‰ÐµÐ¼
print(data['Pclass'].value_counts())
print(data['Pclass'].value_counts(normalize=True))
data['Pclass'].hist()

# Ð´Ð»Ñ Ð¼ÑƒÐ¶Ð¸ÐºÐ¾Ð²
print(data[(data['Pclass'] == 2) & (data['Sex'] == 'male')]['Pclass'].count())
# Ð´Ð»Ñ Ð¶ÐµÐ½Ñ‰Ð¸Ð½
print(data[(data['Pclass'] == 2) & (data['Sex'] == 'feale')]['Pclass'].count())

3    491
1    216
2    184
Name: Pclass, dtype: int64
3    0.55
1    0.24
2    0.21
Name: Pclass, dtype: float64
108
0

In [88]:
# Ð¸Ð· ÑÐ¾Ð»ÑŽÑˆÐµÐ½Ð°, ÐºÑƒÐ´Ð° ÑƒÐ´Ð¾Ð±Ð½ÐµÐ¹ Ð¸ Ð»Ð°ÐºÐ¾Ð½Ð¸Ñ‡Ð½ÐµÐ¹
pd.crosstab(data['Pclass'], data['Sex'], margins=True)

Sex     female  male  All
Pclass
1           94   122  216
2           76   108  184
3          144   347  491
All        314   577  891

**3. What are median and standard deviation of `Fare`?. Round to two decimals.**
- median is  14.45, standard deviation is 49.69
- median is 15.1, standard deviation is 12.15
- median is 13.15, standard deviation is 35.3
- median is  17.43, standard deviation is 39.1

In [90]:
print(data['Fare'].describe())
print(data['Fare'].median())
print(data['Fare'].std())

count    891.00
mean      32.20
std       49.69
min        0.00
25%        7.91
50%       14.45
75%       31.00
max      512.33
Name: Fare, dtype: float64
14.4542
49.693428597180905

**4. Is that true that the mean age of survived people is higher than that of passengers who eventually died?**
- Yes
- No

In [60]:
# Ð½Ð°Ð¹Ð´ÐµÐ¼ ÑÑ€ÐµÐ´Ð½Ð¸Ð¹ Ð²Ð¾Ð·Ñ€Ð°ÑÑ‚ Ñ‚ÐµÑ…, ÐºÑ‚Ð¾ Ð²Ñ‹Ð¶Ð¸Ð»
s1 = data[data['Survived'] == 1]['Age'].mean()
print(s1)
# Ð¸ Ñ‚ÐµÑ…, ÐºÑ‚Ð¾ Ð¾Ñ‚ÑŒÐµÑ…Ð°Ð»
s2 = data[data['Survived'] == 0]['Age'].mean()
print(s2)
# ÑÑ€Ð°Ð²Ð½Ð¸Ð¼
print(s1>s2)

28.343689655172415
30.62617924528302
False

**5. Is that true that passengers younger than 30 y.o. survived more frequently than those older than 60 y.o.? What are shares of survived people among young and old people?**
- 22.7% among young and 40.6% among old
- 40.6% among young and 22.7% among old
- 35.3% among young and 27.4% among old
- 27.4% among young and  35.3% among old

In [67]:
# Ð¿Ð¾Ð»ÑƒÑ‡Ð¸Ñ‚ÑŒ ÐºÐ¾Ð»Ð¸Ñ‡ÐµÑÑ‚Ð²Ð¾ Ð¼Ð¾Ð»Ð¾Ð´Ñ‹Ñ…
young_all = data[data['Age'] < 30]['Age'].count()
#print(young_all)
# Ð¿Ð¾Ð»ÑƒÑ‡Ð¸Ñ‚ÑŒ ÐºÐ¾Ð»Ð¸Ñ‡ÐµÑÑ‚Ð²Ð¾ Ð²Ñ‹Ð¶Ð¸Ð²ÑˆÐ¸Ñ… Ð¼Ð¾Ð»Ð¾Ð´Ñ‹Ñ…
young_surv = data[(data['Age'] < 30) & (data['Survived'] == 1)]['Age'].count()
#print(young_surv)
# Ð¿Ð¾Ð´ÐµÐ»Ð¸Ñ‚ÑŒ Ð¸Ñ…, Ð¿Ð¾Ð»ÑƒÑ‡Ð¸Ñ‚ÑŒ Ð´Ð¾Ð»ÑŽ
print(young_surv/young_all * 100)

# Ð¿Ð¾Ð²Ñ‚Ð¾Ñ€Ð¸Ñ‚ÑŒ Ð´Ð»Ñ ÑÑ‚Ð°Ñ€ÐµÐºÐ¾Ð²
old_all = data[data['Age'] > 60]['Age'].count()
#print(old_all)
# Ð¿Ð¾Ð»ÑƒÑ‡Ð¸Ñ‚ÑŒ ÐºÐ¾Ð»Ð¸Ñ‡ÐµÑÑ‚Ð²Ð¾ Ð²Ñ‹Ð¶Ð¸Ð²ÑˆÐ¸Ñ… Ð¼Ð¾Ð»Ð¾Ð´Ñ‹Ñ…
old_surv = data[(data['Age'] > 60) & (data['Survived'] == 1)]['Age'].count()
#print(old_surv)
# Ð¿Ð¾Ð´ÐµÐ»Ð¸Ñ‚ÑŒ Ð¸Ñ…, Ð¿Ð¾Ð»ÑƒÑ‡Ð¸Ñ‚ÑŒ Ð´Ð¾Ð»ÑŽ
print(old_surv/old_all * 100)

40.625
22.727272727272727

**6. Is that true that women survived more frequently than men? What are shares of survived people among men and women?**
- 30.2% among men and 46.2% among women
- 35.7% among men and 74.2% among women
- 21.1% among men and 46.2% among women
- 18.9% among men and 74.2% among women

In [68]:
# ÐºÐ¾Ð»Ð¸Ñ‡ÐµÑÑ‚Ð²Ð¾ Ð¼ÑƒÐ¶Ð¸ÐºÐ¾Ð²
men_all = data[data['Sex'] == 'male']['Sex'].count()
# Ð¿Ð¾Ð»ÑƒÑ‡Ð¸Ñ‚ÑŒ ÐºÐ¾Ð»Ð¸Ñ‡ÐµÑÑ‚Ð²Ð¾ Ð²Ñ‹Ð¶Ð¸Ð²ÑˆÐ¸Ñ… Ð¼ÑƒÐ¶Ð¸ÐºÐ¾Ð²
men_surv = data[(data['Sex'] == 'male') & (data['Survived'] == 1)]['Sex'].count()
# Ð¿Ð¾Ð´ÐµÐ»Ð¸Ñ‚ÑŒ Ð¸Ñ…, Ð¿Ð¾Ð»ÑƒÑ‡Ð¸Ñ‚ÑŒ Ð´Ð¾Ð»ÑŽ
print(men_surv/men_all * 100)

# Ð¿Ð¾Ð»ÑƒÑ‡Ð¸Ñ‚ÑŒ ÐºÐ¾Ð»Ð¸Ñ‡ÐµÑÑ‚Ð²Ð¾ Ð¶ÐµÐ½Ñ‰Ð¸Ð½
women_all = data[data['Sex'] == 'female']['Sex'].count()
#print(young_all)
# Ð¿Ð¾Ð»ÑƒÑ‡Ð¸Ñ‚ÑŒ ÐºÐ¾Ð»Ð¸Ñ‡ÐµÑÑ‚Ð²Ð¾ Ð²Ñ‹Ð¶Ð¸Ð²ÑˆÐ¸Ñ… Ð¶ÐµÐ½Ñ‰Ð¸Ð½
women_surv = data[(data['Sex'] == 'female') & (data['Survived'] == 1)]['Sex'].count()
#print(young_surv)
# Ð¿Ð¾Ð´ÐµÐ»Ð¸Ñ‚ÑŒ Ð¸Ñ…, Ð¿Ð¾Ð»ÑƒÑ‡Ð¸Ñ‚ÑŒ Ð´Ð¾Ð»ÑŽ
print(women_surv/women_all * 100)

18.890814558058924
74.20382165605095

**7. What's the most popular first name among male passengers?**
- Charles
- Thomas
- William
- John

In [70]:
data['Name'].head()

PassengerId
1                              Braund, Mr. Owen Harris
2    Cumings, Mrs. John Bradley (Florence Briggs Th...
3                               Heikkinen, Miss. Laina
4         Futrelle, Mrs. Jacques Heath (Lily May Peel)
5                             Allen, Mr. William Henry
Name: Name, dtype: object

In [72]:
# Ñ‚ÐµÑÑ‚, Ð¿Ð¾Ð¿Ñ€Ð¾Ð±ÑƒÐµÐ¼ Ñ€Ð°ÑÐ¿Ð°Ñ€ÑÐ¸Ñ‚ÑŒ
data.loc[1, 'Name'].split(',')[1].split()[1]

'Owen'

In [71]:
first_names = data.loc[data['Sex'] == 'male', 'Name'].apply(lambda 
                                                            full_name: 
                full_name.split(',')[1].split()[1])
first_names.value_counts().head()

William    35
John       25
George     14
Thomas     13
Charles    13
Name: Name, dtype: int64

**8. How is average age for men/women dependent on `Pclass`? Choose all correct statements:**
- On average, men of 1 class are older than 40
- On average, women of 1 class are older than 40
- Men of all classes are on average older than women of the same class
- On average, passengers ofthe first class are older than those of the 2nd class who are older than passengers of the 3rd class

ÐšÐ°Ðº ÑÑ€ÐµÐ´Ð½Ð¸Ð¹ Ð²Ð¾Ð·Ñ€Ð°ÑÑ‚ Ð¼ÑƒÐ¶Ñ‡Ð¸Ð½/Ð¶ÐµÐ½Ñ‰Ð¸Ð½ Ð·Ð°Ð²Ð¸ÑÐ¸Ñ‚ Ð¾Ñ‚ 'Pclass'? Ð’Ñ‹Ð±ÐµÑ€Ð¸ Ð²ÑÐµ Ð¿Ñ€Ð°Ð²Ð¸Ð»ÑŒÐ½Ñ‹Ðµ ÑƒÑ‚Ð²ÐµÑ€Ð¶Ð´ÐµÐ½Ð¸Ñ: 
- Ð’ ÑÑ€ÐµÐ´Ð½ÐµÐ¼, Ð¼ÑƒÐ¶Ð¸ÐºÐ¸ Ð² 1Ð¼ ÐºÐ»Ð°ÑÑÐµ ÑÑ‚Ð°Ñ€ÐµÐµ Ñ‡ÐµÐ¼ 40
- Ð’ ÑÑ€ÐµÐ´Ð½ÐµÐ¼, Ð¶ÐµÐ½Ñ‰Ð¸Ð½Ñ‹ Ð² 1Ð¼ ÐºÐ»Ð°ÑÑÐµ ÑÑ‚Ð¾Ñ€ÐµÐµ Ñ‡ÐµÐ¼ 40
- ÐœÑƒÐ¶Ð¸ÐºÐ¸ Ð²Ð¾ Ð²ÑÐµÑ… ÐºÐ»Ð°ÑÑÐ°Ñ… Ð² ÑÑ€ÐµÐ´Ð½ÐµÐ¼ ÑÑ‚Ð°Ñ€ÐµÐµ Ñ‡ÐµÐ¼ Ð¶ÐµÐ½Ñ‰Ð¸Ð½Ñ‹ Ð² Ñ‚ÐµÑ… Ð¶Ðµ ÐºÐ»Ð°ÑÑÐ°Ñ…
- Ð’ ÑÑ€ÐµÐ´Ð½ÐµÐ¼, Ð¿Ð°ÑÐ°Ð¶Ð¸Ñ€Ñ‹ Ð¿ÐµÑ€Ð²Ð¾Ð³Ð¾ ÐºÐ»Ð°ÑÑÐ° ÑÑ‚Ð°Ñ€ÐµÐµ Ñ‡ÐµÐ¼ Ð¿Ð°ÑÑÐ°Ð¶Ð¸Ñ€Ñ‹ 2Ð³Ð¾, Ð° Ñ‚Ðµ Ð² ÑÐ²Ð¾ÑŽ Ð¾Ñ‡ÐµÑ€ÐµÐ´ÑŒ Ð²Ð·Ñ€Ð¾ÑÐ»ÐµÐµ Ð¿Ð°ÑÑÐ°Ð¶Ð¸Ñ€Ð¾Ð² 3Ð³Ð¾

In [87]:
# Ð”Ð»Ñ Ð¿ÐµÑ€Ð²Ñ‹Ñ… Ð´Ð²ÑƒÑ… ÑƒÑ‚Ð²ÐµÑ€Ð¶Ð´ÐµÐ½Ð¸Ð¹ Ð½ÑƒÐ¶Ð½Ð¾ Ð½Ð°Ð¹Ñ‚Ð¸ ÑÑ€ÐµÐ´Ð½ÐµÐµ Ñƒ Ð²Ð¾Ð·Ñ€Ð°ÑÑ‚Ð°, Ð´Ð»Ñ 1Ð³Ð¾ ÐºÐ»Ð°ÑÑÐ° Ð¸ Ð¶ÐµÐ½Ñ‰Ð¸Ð½/Ð¼ÑƒÐ¶Ñ‡Ð¸Ð½
# 3Ðµ ÑƒÑ‚Ð²ÐµÑ€Ð¶Ð´ÐµÐ½Ð¸Ðµ ÑÐ¾ÑÑ‚Ð¾Ð¸Ñ‚ Ð¸Ð· 3Ñ…. Ð˜Ñ‰ÐµÐ¼ Ð²Ð¾Ð·Ñ€Ð°ÑÑ‚ Ð¼ÑƒÐ¶Ð¸ÐºÐ¾Ð² 1Ð³Ð¾ ÐºÐ»Ð°ÑÑÐ°, ÑÑ€Ð°Ð²Ð½Ð¸Ð²Ð°Ð½ÐµÐ¼ ÐµÐ³Ð¾ Ñ Ð²Ð¾Ð·Ñ€Ð°ÑÑ‚Ð¾Ð¼ Ð¶ÐµÐ½Ñ‰Ð¸Ð½ ÑÑ‚Ð¾Ð³Ð¾ ÐºÐ»Ð°ÑÑÐ°. Ð¢Ð°Ðº Ñƒ Ð²ÑÐµÑ… 3Ñ… ÐºÐ»Ð°ÑÑÐ¾Ð²
# ÐŸÐ¾Ñ‡Ñ‚Ð¸ Ñ‚Ð¾Ð¶Ðµ ÑÐ°Ð¼Ð¾Ðµ, Ð½Ð¾ Ð±ÐµÐ· Ð´ÐµÐ»ÐµÐ½Ð¸Ñ Ð½Ð° Ð¿Ð¾Ð»

#1
i1 = data[(data['Sex'] == 'male') & (data['Pclass'] == 1)]['Age'].mean()
print('Ð¡Ñ€ÐµÐ´Ð½Ð¸Ð¹ Ð²Ð¾Ð·Ñ€Ð°ÑÑ‚ Ð¼ÑƒÐ¶Ñ‡Ð¸Ð½ Ð² 1Ð¼ ÐºÐ»Ð°ÑÑÐµ:', i1, i1>40)

#2
i2 = data[(data['Sex'] == 'female') & (data['Pclass'] == 1)]['Age'].mean()
print('Ð¡Ñ€ÐµÐ´Ð½Ð¸Ð¹ Ð²Ð¾Ð·Ñ€Ð°ÑÑ‚ Ð¶ÐµÐ½Ñ‰Ð¸Ð½ Ð² 1Ð¼ ÐºÐ»Ð°ÑÑÐµ:', i2, i2>40)

#3 
i3 = data[(data['Sex'] == 'male') & (data['Pclass'] == 2)]['Age'].mean()
i4 = data[(data['Sex'] == 'female') & (data['Pclass'] == 2)]['Age'].mean()
i5 = data[(data['Sex'] == 'male') & (data['Pclass'] == 3)]['Age'].mean()
i6 = data[(data['Sex'] == 'female') & (data['Pclass'] == 3)]['Age'].mean()

print('Ð¡Ñ€ÐµÐ´Ð½Ð¸Ð¹ Ð²Ð¾Ð·Ñ€Ð°ÑÑ‚ Ð¼ÑƒÐ¶Ñ‡Ð¸Ð½ Ð² 1Ð¼ ÐºÐ»Ð°ÑÑÐµ: {}, Ð¶ÐµÐ½Ñ‰Ð¸Ð½: {}, ÑƒÑ‚Ð²ÐµÑ€Ð¶Ð´ÐµÐ½Ð¸Ðµ {}'.format(i1, i2, i1>i2))
print('Ð¡Ñ€ÐµÐ´Ð½Ð¸Ð¹ Ð²Ð¾Ð·Ñ€Ð°ÑÑ‚ Ð¼ÑƒÐ¶Ñ‡Ð¸Ð½ Ð² 2Ð¼ ÐºÐ»Ð°ÑÑÐµ: {}, Ð¶ÐµÐ½Ñ‰Ð¸Ð½: {}, ÑƒÑ‚Ð²ÐµÑ€Ð¶Ð´ÐµÐ½Ð¸Ðµ {}'.format(i3, i4, i3>i4))
print('Ð¡Ñ€ÐµÐ´Ð½Ð¸Ð¹ Ð²Ð¾Ð·Ñ€Ð°ÑÑ‚ Ð¼ÑƒÐ¶Ñ‡Ð¸Ð½ Ð² 3Ð¼ ÐºÐ»Ð°ÑÑÐµ: {}, Ð¶ÐµÐ½Ñ‰Ð¸Ð½: {}, ÑƒÑ‚Ð²ÐµÑ€Ð¶Ð´ÐµÐ½Ð¸Ðµ {}'.format(i5, i6, i5>i6))

i7 = data[data['Pclass'] == 1]['Age'].mean()
i8 = data[data['Pclass'] == 2]['Age'].mean()
i9 = data[data['Pclass'] == 3]['Age'].mean()
print('Ð¡Ñ€ÐµÐ´Ð½Ð¸Ð¹ Ð²Ð¾Ð·Ñ€Ð°ÑÑ‚ Ð¿Ð°ÑÑÐ°Ð¶Ð¸Ñ€Ð¾Ð² Ð² 1Ð¼ ÐºÐ»Ð°ÑÑÐµ: {}, 2Ð¼: {}, 3Ð¼: {}, ÑƒÑ‚Ð²ÐµÑ€Ð¶Ð´ÐµÐ½Ð¸Ðµ {}'.format(i7, i8, i9, i7>i8 and i8>i9))

Ð¡Ñ€ÐµÐ´Ð½Ð¸Ð¹ Ð²Ð¾Ð·Ñ€Ð°ÑÑ‚ Ð¼ÑƒÐ¶Ñ‡Ð¸Ð½ Ð² 1Ð¼ ÐºÐ»Ð°ÑÑÐµ: 41.28138613861386 True
Ð¡Ñ€ÐµÐ´Ð½Ð¸Ð¹ Ð²Ð¾Ð·Ñ€Ð°ÑÑ‚ Ð¶ÐµÐ½Ñ‰Ð¸Ð½ Ð² 1Ð¼ ÐºÐ»Ð°ÑÑÐµ: 34.61176470588235 False
Ð¡Ñ€ÐµÐ´Ð½Ð¸Ð¹ Ð²Ð¾Ð·Ñ€Ð°ÑÑ‚ Ð¼ÑƒÐ¶Ñ‡Ð¸Ð½ Ð² 1Ð¼ ÐºÐ»Ð°ÑÑÐµ: 41.28138613861386, Ð¶ÐµÐ½Ñ‰Ð¸Ð½: 34.61176470588235, ÑƒÑ‚Ð²ÐµÑ€Ð¶Ð´ÐµÐ½Ð¸Ðµ True
Ð¡Ñ€ÐµÐ´Ð½Ð¸Ð¹ Ð²Ð¾Ð·Ñ€Ð°ÑÑ‚ Ð¼ÑƒÐ¶Ñ‡Ð¸Ð½ Ð² 2Ð¼ ÐºÐ»Ð°ÑÑÐµ: 30.74070707070707, Ð¶ÐµÐ½Ñ‰Ð¸Ð½: 28.722972972972972, ÑƒÑ‚Ð²ÐµÑ€Ð¶Ð´ÐµÐ½Ð¸Ðµ True
Ð¡Ñ€ÐµÐ´Ð½Ð¸Ð¹ Ð²Ð¾Ð·Ñ€Ð°ÑÑ‚ Ð¼ÑƒÐ¶Ñ‡Ð¸Ð½ Ð² 3Ð¼ ÐºÐ»Ð°ÑÑÐµ: 26.507588932806325, Ð¶ÐµÐ½Ñ‰Ð¸Ð½: 21.75, ÑƒÑ‚Ð²ÐµÑ€Ð¶Ð´ÐµÐ½Ð¸Ðµ True
Ð¡Ñ€ÐµÐ´Ð½Ð¸Ð¹ Ð²Ð¾Ð·Ñ€Ð°ÑÑ‚ Ð¿Ð°ÑÑÐ°Ð¶Ð¸Ñ€Ð¾Ð² Ð² 1Ð¼ ÐºÐ»Ð°ÑÑÐµ: 38.233440860215055, 2Ð¼: 29.87763005780347, 3Ð¼: 25.14061971830986, ÑƒÑ‚Ð²ÐµÑ€Ð¶Ð´ÐµÐ½Ð¸Ðµ True

## Useful resources
* The same notebook as an interactive web-based [Kaggle Kernel](https://www.kaggle.com/kashnitsky/topic-1-practice-analyzing-titanic-passengers) with a [solution](https://www.kaggle.com/kashnitsky/topic-1-practice-solution)
* Topic 1 "Exploratory Data Analysis with Pandas" as a [Kaggle Kernel](https://www.kaggle.com/kashnitsky/topic-1-exploratory-data-analysis-with-pandas)
* Main course [site](https://mlcourse.ai), [course repo](https://github.com/Yorko/mlcourse.ai), and YouTube [channel](https://www.youtube.com/watch?v=QKTuw4PNOsU&list=PLVlY_7IJCMJeRfZ68eVfEcu-UcN9BbwiX)